<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdd</servlet-name>
        <servlet-class>servlet.ProductAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdate</servlet-name>
        <servlet-class>servlet.ProductUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellProducts</servlet-name>
        <servlet-class>servlet.SellProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearProducts</servlet-name>
        <servlet-class>servlet.ClearProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellItems</servlet-name>
        <servlet-class>servlet.SellItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_test</servlet-name>
        <servlet-class>servlet.login_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>servlet.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>servlet.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDetails</servlet-name>
        <servlet-class>servlet.SaleDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDetailsFromHistory</servlet-name>
        <servlet-class>servlet.SaleDetailsFromHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdd</servlet-name>
        <url-pattern>/ProductAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdate</servlet-name>
        <url-pattern>/ProductUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellProducts</servlet-name>
        <url-pattern>/SellProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearProducts</servlet-name>
        <url-pattern>/ClearProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellItems</servlet-name>
        <url-pattern>/SellItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_test</servlet-name>
        <url-pattern>/login_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDetails</servlet-name>
        <url-pattern>/SaleDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDetailsFromHistory</servlet-name>
        <url-pattern>/SaleDetailsFromHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
